<%= form_with(model: geo_ip, local: true) do |form| %>
  <% if geo_ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geo_ip.errors.count, "error") %> prohibited this geo_ip from being saved:</h2>

      <ul>
      <% geo_ip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
